.alert {
  background-color: red;
  color: white;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .alert button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
