<div>
  <button (click)="criarBaralho()">Criar Baralho</button>
  <button (click)="embaralharCartas()" [disabled]="!deckId">Embaralhar Cartas</button>
  <div>
    <label for="numeroDeJogadores">Número de Jogadores:</label>
    <input type="number" id="numeroDeJogadores" [(ngModel)]="numeroDeJogadores" min="2" max="10">
  </div>
  <button (click)="distribuirCartas()" [disabled]="!deckId || !baralhoEmbaralhado">Distribuir Cartas</button>
  <button (click)="compararCartas()" [disabled]="jogadores.length === 0">Comparar Cartas</button>
  <button (click)="finalizarJogo()" [disabled]="!deckId">Finalizar Jogo</button>
</div>

<div *ngIf="jogadores.length > 0">
  <h3>Jogadores</h3>
  <ul>
    <li *ngFor="let jogador of jogadores; let i = index">
      <h4>{{ jogador.nome }}</h4>
      <div *ngIf="i === 0">
        <img *ngFor="let carta of jogador.cartas" [src]="carta.image" [alt]="carta.code">
      </div>
      <div *ngIf="i !== 0">
        <img *ngFor="let carta of jogador.cartas" [src]="backImage" alt="Carta Virada">
      </div>
    </li>
  </ul>
</div>

<div *ngIf="resultadoComparacao">
  <h3>Resultado da Comparação: {{ resultadoComparacao }}</h3>
  <div *ngFor="let vencedor of vencedores">
    <h4>{{ vencedor.nome }}</h4>
    <img [src]="vencedor.carta.image" [alt]="vencedor.carta.code">
  </div>
</div>
